    h1 {
        text-align: center;

    }

    h4 {
        text-align: center;


    }

    h5 {
        text-align: center;


    }



    .welcome {
        margin-top: 2.5%;
        padding-bottom: 1.75rem;
    }



    .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
    }
